

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
      width: 10px; 
   }

html::-webkit-scrollbar-track {
    background-color: black;
  }

html::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 25px;
  }

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.pulsate {
     animation: pulsate 1.5s infinite alternate;     
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #0fa,
    0 0 45px #0fa,
    0 0 55px #0fa,
    0 0 70px #0fa,
    0 0 80px #0fa;

    }

}    

.word {
  font-family: 'Fascinate', cursive;
  font-family: 'Joan', serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-repeat: no-repeat;
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 50px;
  
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
  font-family: 'Garamond';
  padding-top:100px;
  color: #6F71F3 ;
}

.footer-basic {
  padding:40px 0;
  background-color:#08189C;
  color:white;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:white;
  margin-bottom:0;
}

